# name of the workflow
name: live555 mirror

# trigger for the workflow
on:
  schedule:
    - cron: '0 5 * * *'
  workflow_dispatch: # manual job trigger on request

jobs:
  mirror_schedule_job:
    runs-on: ubuntu-22.04
    steps:
      - name: clone the repository
        uses: actions/checkout@v5
      - name: perform the mirror ops based on version change
        shell: bash
        run: |
          # get current version
          curl -sL http://www.live555.com/liveMedia/public/changelog.txt -o changelog.txt
          current_version=$(head -n 1 changelog.txt | cut -d: -f1)
          current_changelog=$(awk 'NR==1{flag=1; next} /^[0-9]{4}\.[0-9]{2}\.[0-9]{2}:/{flag=0} flag' changelog.txt)

          echo -e "\e[1m[L] version\e[0m"
          echo -e "$current_version"
          echo -e "\e[1m[L] changelog\e[0m"
          echo -e "$current_changelog"

          # fetch current code and check for updates
          echo -e "\e[1;34m$ rm -rf *\e[0m"
          rm -rf *
          echo -e "\e[1;34m$ wget --quiet http://www.live555.com/liveMedia/public/live.${current_version}.tar.gz\e[0m"
          wget --quiet http://www.live555.com/liveMedia/public/live.${current_version}.tar.gz
          echo -e "\e[1;34m$ tar -xzf live.${current_version}.tar.gz\e[0m"
          tar -xzf live.${current_version}.tar.gz
          echo -e "\e[1;34m$ cp -r live/* .\e[0m"
          cp -r live/* .
          echo -e "\e[1;34m$ rm -r live live.${current_version}.tar.gz\e[0m"
          rm -r live live.${current_version}.tar.gz

          echo -e "\e[1;34m$ git diff --exit-code\e[0m"
          if git diff --exit-code; then
            echo -e "\e[1m[L] No changes detected. Exiting...\e[0m"
            exit 0
          else
            echo -e "\e[1m[L] Changes detected. Proceeding with commit...\e[0m"

            echo -e "\e[1;34m$ git config\e[0m"
            git config user.name "github-actions[bot]"
            git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
            echo -e "\e[1;34m$ git add .\e[0m"
            git add .
            echo -e "\e[1;34m$ git commit\e[0m"
            git commit -m "version - $current_version" -m "$current_changelog"
            echo -e "\e[1;34m$ git push\e[0m"
            git push
            exit 0
          fi

#
# end of file
#
